@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Fredoka+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
body::-webkit-scrollbar{
  display: none;
}
h1{
  font-size: 48px;
  font-weight: 400;
  font-family: 'Black Han Sans', sans-serif;
  margin: 45px auto;
  text-align: center;
}

/*Skills*/
.skillbox{
  text-align: center;

}
.skills{
  background-color: #ecf8ff;
  padding : 20px 0;
}

/*Skills*/
/*Project*/
.project {
  margin: 80px 0;

}
.text {
  font-size: 12px;
  margin : 10px 10px;
  line-height: 24px;
}
/*Project*/
/*Bottom*/
.bottom {
  background-color: #272829;
  
}
.subhead_bottom {
  color: white;
  padding: 50px 0 0 0; margin: 0;
}
.content {
  padding : 0 0 35px 0;
  display: flex;
  justify-content: center;
}
.phone > p {
  color: white;
  margin: 0; padding: 0;
  font-weight: 400;
  
}
.phone > .phonenumber {
  color: white;
  font-size: 32px;
  font-weight: 500;

} 
.email > p {
  color: white;
  margin: 0; padding: 0;
  margin-top: 20px;
  font-weight: 400;
}
.email > .emailtext {
  color: white;
  margin: 0;
  font-size: 32px;
  font-weight: 500;
} 
.github_icon{
  width: 85px; height: 82px;
  margin: 20px 0 0 800px;
  background-image: url("/src/icon/github_white.png");
  background-size: cover;
}
.github_icon:hover{
  cursor: pointer;
}
/*Bottom*/
/*Modal*/
.closeModal{
  position: absolute;
  top:15px; right : 20px;
  font-size : 24px; font-weight : 500; font-family: 'Fredoka One', cursive;
  
}
.closeModal:hover {
  cursor:pointer
}
/*Modal*/